/* GLOBAL */
h1 {
    text-align: center;
}
h3 {
    background-color: rgba(127, 255, 212,.5);
}
a {
    color: #ff0000;
}

/* CLASSES */
.def {
    background-color: #f0f8ff;
}

/* .subli {
    background-color: antiquewhite;
} */
